
.mathFont {
  font-family: zuoyeFont_mathFont;
  font-weight: 400;
  font-style: normal
}

.fM {
  font-family: MathJax_Main;
  font-weight: 400;
  font-style: normal
}

.fI {
  font-family: MathJax_Math;
  font-weight: 400;
  font-style: italic
}

.fAMS {
  font-family: MathJax_AMS;
  font-weight: 400;
  font-style: normal
}

.fS1 {
  font-family: MathJax_Size1;
  font-weight: 400;
  font-style: normal
}

.fS2 {
  font-family: MathJax_Size2;
  font-weight: 400;
  font-style: normal
}

.fS3 {
  font-family: MathJax_Size3;
  font-weight: 400;
  font-style: normal
}

.fS4 {
  font-family: MathJax_Size4;
  font-weight: 400;
  font-style: normal
}

.math {
  display: inline;
  text-align: left;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  direction: ltr;
  margin: 0 .2em
}

.math nobr {
  text-decoration: none
}

.math nobr>.pS {
  padding: .2em 0
}

.math span {
  display: inline;
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: 0;
  line-height: normal;
  text-decoration: none
}

img {
  max-width: 100%;
  vertical-align: middle
}

table {
  border-spacing: 0
}

table.tB {
  border-top: solid 1px #999;
  border-left: solid 1px #999;
  border-radius: 4px
}

table.tB>tbody>tr:first-child>td {
  border-top: 0
}

table.tB>tbody>tr:first-child>td:first-child {
  border-top-left-radius: 4px
}

table.tB>tbody>tr:first-child>td:last-child {
  border-top-right-radius: 4px
}

table.tB>tbody>tr:last-child>td:first-child {
  border-bottom-left-radius: 4px
}

table.tB>tbody>tr:last-child>td:last-child {
  border-bottom-right-radius: 4px
}

table.tB>tbody>tr:nth-child(odd) {
  background: #F5F5F5
}

table.tB>tbody>tr>td {
  border-right: solid 1px #999;
  border-bottom: solid 1px #999;
  padding: 0 4px;
  text-align: center
}

span.special-symbol {
  font-family: arial, tahoma, '\5b8b\4f53', sans-serif;
  line-height: 1
}

span.dI {
  display: inline-block
}

span.pA {
  position: absolute
}

span.pR {
  position: relative
}

span.pS {
  position: static
}

span.oH {
  overflow: hidden
}

span.emptyblank {
  position: relative;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 1em;
  width: 2em;
  margin-left: 3px;
  margin-right: 3px;
  border-bottom: 1px solid #000
}

.Mathopot {
  letter-spacing: 1px;
  white-space: nowrap;
  word-spacing: normal;
  word-wrap: normal;
  display: inline-block
}

.Mathopot div,
.Mathopot span {
  height: auto;
  white-space: normal
}

.Mathopot table {
  border-collapse: collapse;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.Mathopot table td {
  line-height: normal;
  white-space: nowrap;
  border: 0 none;
  width: auto;
  padding: 0
}

.Mathopotm {
  font-style: italic
}

table.edittable {
  border-top: solid 1px #999;
  border-left: solid 1px #999;
  border-radius: 4px
}

table.edittable>tbody>tr:first-child>td {
  border-top: 0
}

table.edittable>tbody>tr:first-child>td:first-child {
  border-top-left-radius: 4px
}

table.edittable>tbody>tr:first-child>td:last-child {
  border-top-right-radius: 4px
}

table.edittable>tbody>tr:last-child>td:first-child {
  border-bottom-left-radius: 4px
}

table.edittable>tbody>tr:last-child>td:last-child {
  border-bottom-right-radius: 4px
}

table.edittable>tbody>tr:nth-child(odd) {
  background: #F5F5F5
}

table.edittable>tbody>tr>td {
  border-right: solid 1px #999;
  border-bottom: solid 1px #999;
  padding: 0 4px;
  text-align: center
}

.composition {
  border-collapse: collapse;
  text-align: left;
  margin: 2px;
  width: 100%
}

.flipv {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}

.opot_option * {
  vertical-align: middle
}

.opot_option .opot_option_titie {
  display: inline-block;
  margin-right: 1em
}

bdo.mathjye-aligncenter {
  display: block;
  text-align: center
}

bdo.mathjye-alignright {
  display: block;
  text-align: right
}

bdo.mathjye-alignleft {
  display: block;
  text-align: left
}

bdo.mathjye-underline {
  padding-bottom: 2px;
  border-bottom: 1px solid #000
}

bdo.mathjye-underpoint2 {
  padding-bottom: 3px;
  border-bottom: 2px dotted #000
}

.composition2>td {
  width: 25%
}
