.qb_wgt-question .icon-ask {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #45aaf3;
  color: #fff;
  font-weight: lighter;
  border-radius: 5px;
  font-size: 14px;
  vertical-align: middle
}

.qb_wgt-question .qb-title {
  vertical-align: middle
}
.qb_wgt-question .imgs {
  margin-top: 20px
}

.qb_wgt-question .imgs img {
  max-width: 100%;
  max-height: 500px
}

.qb_wgt-question .ext-info {
  margin-top: 20px
}

.qb_wgt-question .ext-info .grade-course {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle
}

.qb_wgt-question .ext-info .grade-course>i {
  padding: 3px 10px;
  border: 1px solid #afafaf;
  border-radius: 3px
}

.qb_wgt-question .ext-info>i {
  vertical-align: middle
}

.qb_wgt-question .ext-info .cmn-icons_clock {
  color: #fff;
  background: #afafaf;
  border-radius: 25px;
  border: 1px solid #afafaf;
  border-right: 0;
  border-bottom: 0;
  margin-right: 5px;
  background-clip: content-box
}

.qb_wgt-question .ext-info .cmn-icons_user {
  margin-right: 5px
}